[submodule "DetoxRecorder/Utils/ObjCHelpers"]
	path = DetoxRecorder/Utils/ObjCHelpers
	url = https://github.com/wix/DTXObjectiveCHelpers.git
[submodule "DetoxRecorder/DetoxRecorderCLI/ObjCCLIInfra"]
	path = DetoxRecorder/DetoxRecorderCLI/ObjCCLIInfra
	url = https://github.com/wix/ObjCCLIInfra.git
[submodule "DetoxRecorder/DTXLoggingInfra"]
	path = DetoxRecorder/DTXLoggingInfra
	url = https://github.com/wix/DTXLoggingInfra.git
[submodule "DetoxRecorder/DTXSocketConnection"]
	path = DetoxRecorder/DTXSocketConnection
	url = https://github.com/wix/DTXSocketConnection.git
